export("calib.fit", "calib", "fpl.model", "tpl.model", "thpl.model", "lin.model")
exportClasses("calib.fit", "calib")

importFrom("graphics", "plot")
importFrom("stats", "coefficients")
importFrom("stats", "coef")
importFrom("stats", "fitted")
importFrom("stats", "residuals")
importFrom("stats", "resid")
importFrom("methods", "show")
#importFrom("base", "print")
exportMethods("plot", "print", "show", "print", "mdc", "rdl", "loq", "coefficients", "fitted", "residuals", "resid")

